@import url(/header.css);
a {
  text-decoration: none;
}

header {
  margin-bottom: 20px;
}

.under {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tout {
  width: 80%;
  display: flex;
  
  
}
.photo2 {
  background-image: url(/illustration.png);
  width: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.will_turn {
  line-height: 60px;
 
}
.screen {
  width: 70%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.scren1 {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: px;
}
.scren1 img {
  width: 10%;
  height: 20%;
  margin-right: 10px;
}
.exemple {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ex1 {
  display: flex;
  gap: 30px;
  width: 28%;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.text {
  width: 50%;
}
.ex1 a {
  margin-right: 100px;
}
/* modal */

.modall {
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  height:100%;
 background-color: rgba(85, 76, 76, 0.313);
}

.modal-content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  color: #eceff7;
  height: 50vh;
  background-color: rgb(83, 154, 130);
  padding: 20px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.toutes-les-reviews {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.les-logos {
  width: 60px;
}

.les-logos-reviews {
  background-color: #fff6ef;
  border: 1px black;
  border-radius: 20px;
  box-shadow: -9px 1px 30px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  padding: 0 4%;
}
.les-reviews h3 {
  text-align: center;
  padding: 20px;
}
footer {
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.logo-footer-list-items h4 {
  font-size: 25px;
  padding-bottom: 10px;
}
.logo-footer-list-items ul li {
  font-size: 18px;
  padding-bottom: 10px;
}

.logo-footer-log-name-contaner {
  display: flex;
  text-align: center;
}

.logo-footer-log-name-contaner h3 {
  font-size: 30px;
  padding-top: 2px;
}

span {
  font-size: 20px;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  
  
  .exemple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
}
