* {
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 200;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20px;
  height: 20px;
}

.lespage {
  display: flex;
  padding-left: 5px;
}

.lespage li {
  padding-left: 15px;
}

a {
  color: #02073e;
  text-decoration: none;
}

ul {
  list-style: none;
}

.login {
  display: flex;
}

.login li {
  padding-left: 15px;
}

.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 0px 0px;
  font-size: 40px;
}

.txt {
  padding: 25px 0px 0px 0px;
  font-size: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 50px;
  width: 150px;
  background-color: #0a8080;
  border-radius: 6px;
  font-size: 23px;
  color: white;
}

.imag1 {
  height: 600px;
}

.imagg1 {
  display: flex;
  justify-content: center;
}

.premier-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.les4images {
  display: flex;
  padding: 100px 0px 0px 0px;
  font-size: 33px;
}

.img0 {
  width: 470px;
}

.druxiem-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 0px 0px;
  font-size: 40px;
}

.grow1 {
  font-size: 25px;
}

.lesicons {
  display: flex;
  align-items: center;
  height: 300px;
  width: 1300px;
  padding: 0px 0px 0px 300px;
}

.site {
  display: flex;
  justify-content: center;
  word-spacing: 150px;
  background-color: #f5e4e4;
  padding: 100px 100px 0px 0px;
  height: 150px;
}

.newssubcr {
  display: flex;
  justify-content: center;
}

.unit {
  width: 60%;
  display: flex;
  justify-content: space-between;
  background-color: #e1e1e1;
  height: 200px;
  border-radius: 6px;
  align-items: center;
  padding-bottom: 20px;
}
.newstext {
  text-align: center;
  margin: 0 20px;
  text-align: justify;
}


.newstext {
  font-size: 17px;
}




.photo {
  height: 600px;
  flex-shrink: 0;
}

.contact {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.logo-footer-list-items h4 {
  font-size: 25px;
  padding-bottom: 10px;
}
.logo-footer-list-items ul li {
  font-size: 18px;
  padding-bottom: 10px;
}

.logo-footer-log-name-contaner {
  display: flex;
  text-align: center;
}

.logo-footer-log-name-contaner h3 {
  font-size: 30px;
  padding-top: 2px;
}

.logo-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subcr {
  width: 50%;
  padding: 0;
  gap: 10px;
}
.subcr .submit {
  color: white;
  width: 80px;
  height: 50px;
  border-radius: 6px;
  background-color: green;
  border: none;
}
.subcr .email {
  height: 50px;
  border-radius: 6px;
  width: 70%;
  border: none;
  background-color: #c5c5c5;
}
.subcr .email::placeholder {
  text-align: center;
}
.subcr .check::before {
  background-color: #01070d;
}

/*aboutt*/
#photo-page{

  
  display: flex;
  justify-content: center;

}
#photoo{
  width: 1700px;
}

#photo-page{
  display: flex;
  justify-content: center;
}

.about_Us_Description{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 90px;
}

.allSectionAboutUs{
  width: 450px;
  height: 600px;
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_Us_Description h2{
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: left;

}

.AboutUs_blogs_intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_Us_Description p{
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
}

.AboutUs_blogs_intro h2{
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  width: 750px;
}

.AboutUs_blogs_intro p{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 730px;
  
}
.AboutUs_blogs_intro {

    padding: 30px;

}
.about-populair{

   display: grid;
   grid-template-columns: repeat(3,1fr);

 
}
#im{
  width:  90px;
}
